In [13]:
#imports
import pandas as pd
from path import Path
from collections import Counter
from sklearn.model_selection import train_test_split
from imblearn.combine import SMOTEENN
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, balanced_accuracy_score
from imblearn.metrics import classification_report_imbalanced

In [2]:
#load data
file_path = Path('../Resources/cc_default.csv')
df = pd.read_csv(file_path)
df.head()

   ID  ln_balance_limit  sex  education  marriage  age  default_next_month
0   1          9.903488    1          2         0   24                   1
1   2         11.695247    1          2         1   26                   1
2   3         11.407565    1          2         1   34                   0
3   4         10.819778    1          2         0   37                   0
4   5         10.819778    0          2         0   57                   0

In [9]:
#separate features and target
x_cols = [i for i in df.columns if i not in ('ID', 'default_next_month')]
X = df[x_cols]
y = df['default_next_month']
Counter(y)

Counter({1: 6636, 0: 23364})

In [6]:
#split into training and testing sets 
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state= 1)

In [10]:
#fit data
smote_enn = SMOTEENN(random_state=0)
X_resampled, y_resampled = smote_enn.fit_resample(X, y)
Counter(y_resampled)

Counter({0: 10151, 1: 7674})

In [12]:
#fit logistic regression using undersampled data
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [14]:
#generate confusion matrix
y_pred = model.predict(X_test)
confusion_matrix(y_test, y_pred)

array([[4172, 1660],
       [ 882,  786]])

In [15]:
#accuracy score
balanced_accuracy_score(y_test, y_pred)

0.5932932666212709

In [16]:
#classification report
print(classification_report_imbalanced(y_test,y_pred))

pre       rec       spe        f1       geo       iba       sup

          0       0.83      0.72      0.47      0.77      0.58      0.35      5832
          1       0.32      0.47      0.72      0.38      0.58      0.33      1668

avg / total       0.71      0.66      0.53      0.68      0.58      0.34      7500